.navbarimage1{
    width: 80px;
    /* color: red */
}
#wolfsss{
    color: red;
}
.btndeep{
    color: #04b521;
    background-color: #031036;
}
.btndeep:hover{
    color: #04b521;
    background-color: #031036;
}